@model IEnumerable<ConstructionWarehouse_Web.Models.Dto.StatusDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Статусы</h1>
        </div>
        <div class="cool text-end pt-1">
            <a asp-controller="Status" asp-action="CreateStatus" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Добавить новый статус</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Наименование статуса
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StatusName</td>
                    <td>
                        <a asp-controller="Status" asp-action="UpdateStatus" asp-route-statusId="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Status" asp-action="DeleteStatus" asp-route-statusId="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>