@model ConstructionWarehouse_Web.Models.Dto.PremiseUpdateDTO

<form asp-action="UpdatePremise">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Изменение</h1>
        <hr />

        <input hidden asp-for="Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="PremiseName" class="control-label pt-2" style="font-size: 20px;">Наименование</label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="PremiseName" class="from-control" rows="1" style="width: 350px"></textarea>
                <span asp-validation-for="PremiseName" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexPremise" asp-controller="Premise" class="btn-primary btn form-control">Назад</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Обновить" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}