@model IEnumerable<ConstructionWarehouse_Web.Models.Dto.SupplierProductDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Товары производителей</h1>
        </div>
        <div class="cool text-end pt-1">
            <a asp-controller="SupplierProduct" asp-action="CreateSupplierProduct" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Добавить поставщика</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Наименование товара
                </th>
                <th>
                    Наименование организации
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Supplier.SupplierName</td>
                    <td>
                        <a asp-controller="SupplierProduct" asp-action="UpdateSupplierProduct" asp-route-supplierProductId="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="SupplierProduct" asp-action="DeleteSupplierProduct" asp-route-supplierProductId="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>>